<%= form_with(model: @usuario, local: true)  do |form|%> 
        <div class="container-fluid bak2", style="padding-top: 10%;"> 
            <section id="one" style="height:100vh;">
                <div class="register">
                    <div class="row bak1">
                            <div class="col-md-3 register-left ">
                                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                                <h3>Bienvenido</h3>
                                <p>Simulador de pensiones!</p>
                            
                            </div>
                            <div class="col-md-9 register-right">
                            
                                    <h3 class="register-heading">Ingresa tus datos</h3>
                                    <div class="row register-form">
                                    
                                        <div class="col-md-6">
                                            
                                            <div class="form-group">
                                                <%= form.text_field :nombre , class:"form-control", placeholder: "Nombre"%>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <%= form.text_field :correo , class:"form-control", placeholder: "Correo"%>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <%= form.number_field :Edad , class:"form-control", placeholder: "Edad"%>
                                            </div>
                                            <br>
                                          
                                        </div>
                                        <div class="col-md-4">
                                            
                                               <ul>Género: <%= form.select :genero, ["Femenino","Masculino"] , class:"form-select",arialabel:".form-select-lg example" %></ul>
                                            
                                               
                                               <%= link_to "Continuar", "#two" ,class:"btnRegister" %>
                                            
                                        </div>
                                       
                                    </div>  
                            </div>
                                      
                    </div>
                </div>
            </section>
        </div>
        <div class="container-fluid bak2", style="padding-top: 10%;"> 
            <section id="two" style="height:100vh;">   
                <div class="register">
                    <div class="row">
                            <div class="col-md-3 register-left">
                                <img src="https://www.talosmarthome.com/wp-content/uploads/2019/11/FAQ-icon-Talo.png" alt=""/>
                                <h3>Ahora ingresa tu situacion previsional</h3>
                            </div>
                                <div class="col-md-9 register-right">
                            
                                    <h3 class="register-heading">Ingresa otra cosa</h3>
                                    <div class="row register-form">
                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               
                                                <%= form.number_field :edadJub , class:"form-control", placeholder: " Edad que piensa jubilar:"%>
                                            </div>
                                            
                                            <br>
                                            <div class="form-group">
                                                <%= form.number_field :Mcotiza , class:"form-control", placeholder: "Meses que cotiza al año"%>
                                            </div>
                                            <br>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    Sueldo entre los 18 y 35 años
                                                    <%= form.number_field :InterA %>
                                                </div>
                                            
                                                    <br>
                                            
                                                <div class="form-group">
                                                    Sueldo entre los 35 y 55
                                                    <%= form.number_field :InterB %>
                                                </div>
                                            
                                                    <br>
                                                <div class="form-group">
                                                    Sueldo entre los 55 y 65
                                                    <%= form.number_field :InterC%>
                                                </div>
                                                    <br>
                                            </div>
                                            <div class="col-md-5">
                                                <br>

                                                <div class="form-group">
                                                    
                                                    Fondo en este periodo: <%= form.select :fondoPerA, ["A","B","C","D","E"] , class:"form-select",arialabel:".form-select-lg example" %>
                                                </div>
                                                    <br><br>
                                                <div class="form-group">
                                                    
                                                    Fondo en este periodo: <%= form.select :fondoPerB, ["A","B","C","D","E"] , class:"form-select",arialabel:".form-select-lg example" %>
                                                </div>
                                                    <br><br>
                                                <div class="form-group">
                                                    
                                                    Fondo en este periodo:
                                                    <%= form.select :fondoPerC, ["B","C","D","E"] , class:"form-select",arialabel:".form-select-lg example" %> 
                                                </div>
                                                    <br>
                                            </div>
                                        </div>
                                           
                                        </div>
                                        <div class="col">
                                                
                                                <div class="form-group">
                                                    <%= form.number_field :ahorrado , class:"form-control", placeholder: "Ahorro actual"%>
                                                </div>
                                        
                                                <br> 
                                                <div class="row">
                                                <div class="col-md-5">
                                                Pension: <%= form.select :pension, ["Capital","Cuprum","Habitat","Modelo","PlanVital","Provida","Uno"] , class:"form-select",arialabel:".form-select-lg example" %>
                                                </div>
                                                <div class="col-md-5">
                                                Fondo de Pension: <%= form.select :fondoP, ["A","B","C","D","E"] , class:"form-select",arialabel:".form-select-lg example" %></ul>
                                                </div>
                                                </div>

                                                <br>
                                                <div class="form-group container-fluid">
                                                <h5>¿Desea integrar sus propias rentabilidades?
                                                <%= form.radio_button :experto, 'Si'%>
                                                <%= label :experto_email, 'Si' %>
                                                </div></h5>

                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            Rentabilidad A
                                                            <%= form.number_field :RentA,step: :any,placeholder: "5.55%" %>
                                                        </div>
                                                            <br>
                                                        <div class="form-group">
                                                            Rentabilidad B
                                                            <%= form.number_field :RentB,step: :any,placeholder: "5.55%"%>
                                                        </div>
                                                    
                                                            <br>
                                                        <div class="form-group">
                                                            Rentabilidad C
                                                            <%= form.number_field :RentC,vplaceholder: "5.55%"%>
                                                        </div>
                                                            <br>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            Rentabilidad D
                                                            <%= form.number_field :RentD,step: :any,placeholder: "5.55%"%>
                                                        </div>
                                                            <br>
                                                        <div class="form-group">
                                                            Rentabilidad E
                                                            <%= form.number_field :RentE,step: :any,placeholder: "5.55%"%>
                                                        </div>
                                                            <br>
                                                    </div>
                                                </div>





                                               <%= link_to "Continuar", "#three",class:"btnRegister"  %>
                                            
                                        </div>
                                       
                                    </div>  
                                </div>      
                    </div>
                </div>
            </section>
        </div>
        <div class="container-fluid register bak2">
            <section id="three" style="height:100vh;padding-top:10%;">   
                <div class="register">
                        <div class="row bak1">

                                <div class="col-md-3 register-left ">
                                    <img src="https://www.talosmarthome.com/wp-content/uploads/2019/11/FAQ-icon-Talo.png" alt=""/>
                                    <h3>Ahora ingresa tu situacion previsional</h3>
                                </div>
                                <div class="col-md-9 register-right">
                            
                                    <h3 class="register-heading">Ingresa otra cosa</h3>
                                    <div class="row register-form">
                                    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%= form.text_field :nombre3 , class:"form-control", placeholder: "Nombre"%>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <%= form.text_field :correo3 , class:"form-control", placeholder: "Correo"%>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <%= form.text_field :Edad3 , class:"form-control", placeholder: "Edad"%>
                                            </div>
                                            <br>
                                            
                                           
                                        </div>
                                        <div class="col-md-4">
                                            
                                               <ul>F: <%= form.select :genero3, ["Femenino","Masculino"] , class:"form-select",arialabel:".form-select-lg example" %></ul>
                                            
                                               <%= form.submit "Terminar" ,class:"btnRegister" %>
                                            
                                        </div>
                                    </div>  
                                </div>
                        </div>
                </div>
            </section>
        </div>
        
    <%end%> 