<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://www.talosmarthome.com/wp-content/uploads/2019/11/FAQ-icon-Talo.png" alt=""/>
                        <h3>ESTO GANARAS DE PENSION :</h3>
                    </div>
                    <div class="col-md-9 register-right">
                        
                                <h3 class="register-heading">blablabla lorem ipsum</h3>
                                <div class="row register-form">
                                
                                    <div class="col-md-6">
                                        <%= form_with  do |form|%> 
                                        <div class="form-group">
                                            <%= form.text_field :nombre , class:"form-control", placeholder: "Nombre"%>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <%= form.text_field :correo , class:"form-control", placeholder: "Correo"%>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <%= form.text_field :Edad , class:"form-control", placeholder: "Edad"%>
                                        </div>
                                        <br>
                                        
                                       
                                    </div>
                                    <div class="col-md-4">
                                        
                                           <ul>Género: <%= form.select :genero, ["Femenino","Masculino"] , class:"form-select",arialabel:".form-select-lg example" %></ul>
                                        
                                           <%= form.submit "Continuar" ,class:"btnRegister" %>
                                        
                                    </div>
                                 
                                                
                                      
                                </div>  
                            </div>
                            
                        </div>
                    </div>
                </div>
<%end%>
            </div>